@use 'colorVariables' as colorVar;
// ./colorVariables.scssに書かれた変数を使うことを目的とする。[colorVar.$name-of-colorVariable]と書けばいい。
@use 'timeVariables' as timeVar;
// ./timeVariables.scssに書かれた変数を使うことを目的とする。[timeVar.$name-of-colorVariable]と書けばいい。

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: 1px solid colorVar.$common-border-color;
  border-radius: 8px;
  background-color: colorVar.$common-background-color;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .alert-message {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    color: #333;
  }

  .alert-buttons {
    display: flex;
    gap: 12px;

    .alert-button {
      flex: 1;
      padding: 8px 16px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      transition: timeVar.$alert-transition;

      &.ok {
        // background-color: #4caf50;
        background-color: colorVar.$common-background-color;
        color: colorVar.$alert-ok-themecolor-nothover;
        border: 1px solid colorVar.$alert-ok-themecolor-nothover;
        // border: none;

        &:hover {
          // background-color: #45a049;
          background-color: colorVar.$alert-ok-themecolor-hover;
          color: colorVar.$common-textinbutton-color;
          border: 1px solid colorVar.$alert-ok-themecolor-hover;
        }
      }

      &.cancel {
        // background-color: #f44336;
        background-color: colorVar.$common-background-color;
        color: colorVar.$alert-cancel-themecolor-nothover;
        border: 1px solid colorVar.$alert-cancel-themecolor-nothover;
        // border: none;

        &:hover {
          // background-color: #e53935;
          background-color: colorVar.$alert-cancel-themecolor-hover;
          color: colorVar.$common-textinbutton-color;
          border: 1px solid colorVar.$alert-cancel-themecolor-hover;
        }
      }
    }
  }
}