/*
$name-of-colorVariable: #FFFFFF;
// colorVar.$name-of-colorVariable
*/

$common-border-color: #ccc;
// colorVar.$common-border-color
$common-background-color: #fff;
// colorVar.$common-background-color
$common-textinbutton-color: #fff;
// colorVar.$common-textinbutton-color
$alert-ok-themecolor-nothover: #77ce7a;
// colorVar.$alert-ok-themecolor-nothover
$alert-ok-themecolor-hover: #79cb7d; 
// colorVar.$alert-ok-themecolor-hover
$alert-cancel-themecolor-nothover: #8d150d;
// colorVar.$alert-cancel-themecolor-nothover
$alert-cancel-themecolor-hover: #a81411;
// colorVar.$alert-cancel-themecolor-hover