@use 'variables' as var; // ./variables.scssに書かれた変数を使うことを目的とする。[var.$name-of-variable]と書けばいい。

.user-column {
  display: grid;
  grid-template-columns: 50px auto;
  /* 列の幅を調整 */
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background-color: var.$common-background-color;
  border: 1px solid var.$common-border-color;
  border-radius: 6px;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
    /* 各行間にスペースを追加 */
  }

  &__id {
    text-align: center;
    font-weight: bold;
    color: #333;
  }

  &__button {
    justify-self: end;
    /* ボタンを右寄せ */
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    background-color: #007bff;
    color: var.$common-textinbutton-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}