/*
$name-of-variable: #FFFFFF;  //var.$name-of-variable
*/

$common-border-color: #ccc; // var.$common-border-color
$common-background-color: #fff; // var.$common-background-color
$common-textinbutton-color: #fff; // var.$common-textinbutton-color